/* CSS Document designed by Green Labo (www.greenlabo.co.th) */
h1,h2,h3,h4,h5,h6 {margin-top: 0; margin-bottom: 10px;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.375em;}
h3 {font-size: 1em;}
h4 {font-size: 0.875em;}
h5 {font-size: 0.75em;}
h6 {font-size: 0.565em;}
body {background: rgb(0,48,45) url(https://file002.shop-pro.jp/PA01383/759/images/bg-page.jpg) repeat-x center top fixed;}
.setclearline {clear: both; float: none; height: 1px; overflow: hidden;}
.banner-wrapper img {width: 100%; height: auto;}
.btn-primary {
	color: #fff;
	border: 1px solid #2b83dd;
	background: #3fa9f5; /* Old browsers */
	background: -moz-linear-gradient(top, #3fa9f5 0%, #2b83dd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3fa9f5 0%,#2b83dd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3fa9f5 0%,#2b83dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa9f5', endColorstr='#2b83dd',GradientType=0 ); /* IE6-9 */
}
.btn:focus, .btn:hover {border: 1px solid #3fa9f5;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border: none;}
.navbar {border-radius: 0;}
.navbar-default {border: none;}

/* start header */
#settotop {clear: both; float: none; height: 1px; overflow: hidden; background: #126fb5;}
.header-wrapper {
	border-top: 10px solid #126fb5;
	background: transparent url(https://file002.shop-pro.jp/PA01383/759/images/bg_header-flag.png) repeat-x center -15px;
	min-height: 150px;
	margin-bottom: 0;
}
#site_logo {padding-top: 15px;}
#logo_mynetz {
	float: right;
	margin-left: 10px;
	position: absolute;
	right: 0;
	top: 10px;
}
#logo_mynetz img {height: 70px; width: auto;}
#top_nav {
	padding: 5px;
	background: #3ea8f2; /* Old browsers */
	background: -moz-linear-gradient(top, #3ea8f2 0%, #2f8de4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3ea8f2 0%,#2f8de4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3ea8f2 0%,#2f8de4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea8f2', endColorstr='#2f8de4',GradientType=0 ); /* IE6-9 */
}
.header-wrapper .navbar-nav {float: none;}
#top_nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#top_nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
#top_nav ul > li > a {
	padding: 16px 15px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}
#top_nav ul > li > a:hover, #tyt-banav a:hover {
	background: rgba(0,0,0,0.1);
}
#top_nav ul > li > a img {
	width: 18px;
	height: 18px;
}
#tyt-banav a {
	color: #fff;
}
#tyt-banav a img  {
	width: 18px;
	height: 18px;
}
#tyt-banav {
	background: #3ea8f2; /* Old browsers */
	background: -moz-linear-gradient(top, #3ea8f2 0%, #2f8de4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3ea8f2 0%,#2f8de4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3ea8f2 0%,#2f8de4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea8f2', endColorstr='#2f8de4',GradientType=0 ); /* IE6-9 */
}
#topnaveholder .navbar {margin-bottom: 0;}
#header-tagbox {min-height: 90px; padding-top: 15px;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {background: rgba(0,0,0,0.1);}
.dropdown-menu {background: #eee;}
.dropdown-menu a {color: #126fb5!important;}
.dropdown-menu a:hover {color: #D02918; background: rgba(0,0,0,0.05);}
#tpnav_cart {
	float: right;
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 1%, #cc0000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 1%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 1%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
#header_searchbox, .tagline {text-align: left;}
.tagline {text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; margin-bottom: 5px;}
/* end header */

.pagecont-wrapper {}

/* start Footer navigation */
.footer-wrapper {
	padding: 0 0 15px 0;
	background: #3454a9;
	color: #fff;
}
.footer-wrapper p {margin: 0; padding: 0;}
.footer-wrapper a {color: #fff;}
.footer-wrapper a:hover {color: #fff;}
#footer_second {
	padding: 15px 0;
	background: #0e5992;
}
#footer_third {padding: 15px 0;}
#footer_nav {
	padding: 15px 0;
	background: #126fb5;
}
#footer_nav .container {position: relative;}
#footer_nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#footer_nav ul li {
	display: inline;
	margin: 0 15px;
}
#b2topfttr {
	padding: 10px;
	height: 30px;
	position: absolute;
	top: -45px;
	right: 15px;
	background: #126fb5;
}
/* end Footer navigation */
/* start page & main content */
.pagebox {background: #fff; min-height: 300px; padding-top: 30px; padding-bottom: 50px;}
.panel-default > .panel-heading, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	border-color: #ddd;
	color: #333;
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}
.list-group-item:first-child, .panel-heading {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel {border-radius: 0;}
.btn-primary {
	background: #3ea8f2; /* Old browsers */
	background: -moz-linear-gradient(top, #3ea8f2 0%, #2f8de4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3ea8f2 0%,#2f8de4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3ea8f2 0%,#2f8de4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea8f2', endColorstr='#2f8de4',GradientType=0 ); /* IE6-9 */
}
.sidebar-banner {margin-bottom: 20px;}
.sidebar-banner img {width: 100%; height: auto;}
#big_slide {margin-bottom: 0!important;}

/* product assets */
.plst-thumb {margin-bottom: 10px;}
.plst-thumb img {width: 100%; height: auto;}
.page-title {font-size: 1.4em;}
.filter-toolbar {
	clear: both;
	margin-bottom: 15px;
}
.filter-heading, .filter-info {line-height: 40px;}
.pdctlist-box {
	width: 23%;
	float: left;
	min-height: 200px;
	margin: 0 1% 20px;
	text-align: center;
}
.pdctlist-bttmnavi {
	clear: both;
	margin: 0 0 20px;
	line-height: 40px;
}
.filter-info {text-align: right;}
.pdct-thumb {margin-bottom: 10px;}
.img-thumbnail {border-radius: 0;}
/* product view */
.product-detail-pg .pdctlist-box {width: 18%;}
.pdct-sharing ul {list-style-type: none;}
.pdct-sharing li {
	display: inline;
	margin-right: 10px;
}
.pdct-sharing .btn {height: 20px; line-height: 20px; font-style: 10px;}
#product_reviews {margin-bottom: 10px;}
/* end page & main content */

/* ##### left sidebar ##### */
/* recommended products */
#sidebar_recommend .plst-thumb {width: 64px; height: 64px; float: left; margin-right: 5px; margin-bottom: 5px;}
#sidebar_recommend .plst-thumb img {width: 100%; height: auto;}
/* ##### end left sidebar ##### */


/* start responsive */
@media only screen
and (min-width : 770px) {
	#tpnav_cart {margin-right: -15px;}
}
